# Conexão com Corretoras e APIs
ccxt==4.5.40
requests==2.32.3
aiohttp==3.13.3
urllib3==2.4.0
python-telegram-bot==20.6

# Inteligência Artificial e Modelos (LSTM/H5)
tensorflow==2.20.0
keras==3.11.3
h5py==3.14.0
numpy==2.2.5
scikit-learn==1.7.2
joblib==1.5.2

# Processamento de Dados e Indicadores
pandas==2.3.2
scipy==1.15.3
python-dotenv==1.0.1
pytz==2025.2

# Auxiliares de Performance e Sistema
certifi==2025.4.26
cryptography==46.0.5
typing_extensions==4.13.2
packaging==25.0